<div mat-dialog-title>Create a new device</div>

<form #createForm="ngForm" (ngSubmit)="createDevice(createForm)" fxLayout="column">
    <div fxLayout="row">
        <mat-form-field>
            <mat-label>Name</mat-label>
            <input matInput [(ngModel)]="device.name" name="name" required>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Manufacturer</mat-label>
            <input matInput [(ngModel)]="device.manufacturer" name="manufacturer" required>
        </mat-form-field>
    </div>
    <div fxLayout="row">
        <mat-form-field>
            <mat-label>Type</mat-label>
            <input matInput [(ngModel)]="device.type" name="type" required>
        </mat-form-field>
    </div>
    <div fxLayout="row">
        <mat-form-field>
            <mat-label>Operating System</mat-label>
            <input matInput [(ngModel)]="device.operatingSystem" name="operatingSystem" required>
        </mat-form-field>
        <mat-form-field>
            <mat-label>OS Version</mat-label>
            <input matInput [(ngModel)]="device.osVersion" name="osVersion" required>
        </mat-form-field>
    </div>
    <div fxLayout="row">
        <mat-form-field>
            <mat-label>Processor</mat-label>
            <input matInput [(ngModel)]="device.processor" name="processor" required>
        </mat-form-field>
        <mat-form-field>
            <mat-label>RAM Amount</mat-label>
            <input matInput [(ngModel)]="device.ramAmount" name="ramAmount" required>
        </mat-form-field>
    </div>
    <input type="hidden" name="_METHOD" value="PUT"/>
    <mat-dialog-actions>
        <button mat-flat-button type="submit" color="primary">
            Update
        </button>
    </mat-dialog-actions>
</form>