<app-loading *ngIf="loading"></app-loading>
<ngx-datatable class="material striped full-width" [headerHeight]="headerHeight" [footerHeight]="50"
    [rowHeight]="rowHeight" [scrollbarV]="true" [rows]="rows" [columns]="columns" [columnMode]="ColumnMode.force"
    style="height: calc(100vh - 150px); margin-top: 64px; margin-left: 16px; margin-right: 16px;">

</ngx-datatable>

<ng-template #emailTmpl let-row="row">
    {{ row.email }}
</ng-template>
<ng-template #nameTmpl let-row="row">
    {{ row.name }}
</ng-template>

<ng-template #buttonsTmpl let-row="row">
    <button mat-button matTooltip="Delete this user" (click)="deleteUser(row)">
        <mat-icon aria-hidden="false" aria-label="Example home icon">delete</mat-icon>
    </button>
</ng-template>