<ng-container *ngIf="device.id; else elseTemplate">
    <div mat-dialog-title>Update device</div>
</ng-container>
<ng-template #elseTemplate>
    <div mat-dialog-title>Create a new device</div>
</ng-template>

<form #updateForm="ngForm" (ngSubmit)="submit(updateForm)" fxLayout="column" style="height: 300px;">
    <div fxLayout="row" fxLayoutGap="16px">
        <mat-form-field style="width: initial;">
            <mat-label>Name</mat-label>
            <input matInput [(ngModel)]="device.name" name="name" required>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Manufacturer</mat-label>
            <input matInput [(ngModel)]="device.manufacturer" name="manufacturer" required>
        </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutGap="16px">
        <mat-form-field>
            <mat-label>Type</mat-label>
            <mat-select [(ngModel)]="device.type" name="type">
                <mat-option *ngFor="let item of deviceTypes" [value]="item.id">
                    {{ item.name }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutGap="16px">
        <mat-form-field>
            <mat-label>Operating System</mat-label>
            <input matInput [(ngModel)]="device.operatingSystem" name="operatingSystem" required>
        </mat-form-field>
        <mat-form-field>
            <mat-label>OS Version</mat-label>
            <input matInput [(ngModel)]="device.osVersion" name="osVersion" required>
        </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutGap="16px">
        <mat-form-field>
            <mat-label>Processor</mat-label>
            <input matInput [(ngModel)]="device.processor" name="processor" required>
        </mat-form-field>
        <mat-form-field>
            <mat-label>RAM Amount</mat-label>
            <input matInput [(ngModel)]="device.ramAmount" name="ramAmount" required>
        </mat-form-field>
    </div>
    <mat-dialog-actions fxLayout="row">
        <div fxLayout="row">
            <div mat-dialog-actions>
                <button mat-flat-button type="submit" color="warning" (click)="close()">
                    Close
                </button>    
                <button mat-flat-button type="submit" color="primary">
                    <ng-container *ngIf="device.id; else elseTemplate1">
                        Update
                    </ng-container>
                    <ng-template #elseTemplate1>
                        Create
                    </ng-template>
                </button>
            </div>
        </div>
        <span *ngIf="errorMessage" style="color: red">{{ errorMessage }}</span>
    </mat-dialog-actions>
</form>